<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="title">Hệ thống cửa hàng</div>
        <div class="address">Tại Hà Nội</div>
        <div class="details-address" style="padding-bottom: 15px;">A12 Đinh Tiên Hoàng, Quận Hoàn Kiếm, Hà Nội</div>
        <div class="address">Tại Hồ Chí Minh</div>
        <div class="details-">Số 123, KP2, Quận 1, Tp.Hồ Chí Minh</div>
      </div>
      <div class="col-md-4">
        <div class="title">Điện thoại</div>
        <div class="follow-us">Theo dõi chúng tôi</div>
        <div class="div wrapping-social">
          <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
          <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="col-md-4 information">
        <div class="title">Thông tin</div>
        <div>Giới thiệu</div>
        <div>Chính sách vận chuyển</div>
        <div>Quy định và chính sách</div>
        <div>Chính sách bảo mật</div>
      </div>
    </div>
  </div>
</section>
