:host {
  section.footer {
    background: #151111;
    color: #fff;
    padding: 15px 0 30px;
    .title {
      font-size: 19px;
      padding: 15px 0;
    }
    div {
      font-size: 14px;
    }
    .wrapping-social {
      span {
        font-size: 15px;
        font-size: 19px;
        padding: 5px 15px;
        background: #ed3737;
        border-left: 1px solid #fff;
        &:first-child{
            border: none;
        }
      }
    }
    .follow-us{
        margin-bottom: 7px;
    }
    .information {
      div {
        padding: 5px 0;
      }
    }
  }
}
