<div class="example-form" *ngIf="data.status">
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Tên danh mục sản phẩm" (keyup.enter)="onUpdate()" [(ngModel)]="categoryName">
  </mat-form-field>
  <div class="wrapping-action-button">
    <button mat-raised-button color="primary" (click)="onUpdate()">Cập nhật</button>
    <button mat-raised-button mat-dialog-close color="warn">Hủy bỏ</button>
  </div>
</div>

<!-- form create new user -->

<div class="example-form" *ngIf="!data.status">
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Danh mục sản phẩm" (keyup.enter)="onAddNewCategory(categoryName.value)" #categoryName>
  </mat-form-field>

  <div class="wrapping-action-button">
    <button mat-raised-button color="primary"
      (click)="onAddNewCategory(categoryName.value)">Thêm</button>
    <button mat-raised-button mat-dialog-close color="warn">Hủy bỏ</button>
  </div>
</div>
