:host {
  display: block;
  .mat-elevation-z8 {
    width: 85%;
    margin: 0 auto;
    margin-top: 22px;
    position: relative;
    table {
      width: 100%;
      th {
        &:last-child {
          padding-right: 0;
        }

        span {
          padding: 10px;
          cursor: pointer;
          &:hover i {
            color: #fff;
          }
        }
      }

      td {
        cursor: pointer;
        &:last-child {
          padding-right: 0;
        }

        span {
          padding: 10px;

          &:first-child {
            margin-right: 3px;
          }

          &:hover i {
            color: #fff;
          }
        }
      }
    }

    mat-form-field {
      font-size: 14px;
      width: 100%;
      background:#fff;
      
    }
    .icon-loading {
      &.la-ball-clip-rotate,
      &.la-ball-clip-rotate > div {
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      &.la-ball-clip-rotate {
        display: block;
        font-size: 0;
        color: #fff;
      }
      &.la-ball-clip-rotate.la-dark {
        color: #333;
      }
      &.la-ball-clip-rotate > div {
        display: inline-block;
        float: none;
        background-color: currentColor;
        border: 0 solid currentColor;
      }
      &.la-ball-clip-rotate {
        width: 32px;
        height: 32px;
      }
      &.la-ball-clip-rotate > div {
        width: 32px;
        height: 32px;
        background: transparent;
        border-width: 2px;
        border-bottom-color: transparent;
        border-radius: 100%;
        -webkit-animation: ball-clip-rotate 0.75s linear infinite;
        -moz-animation: ball-clip-rotate 0.75s linear infinite;
        -o-animation: ball-clip-rotate 0.75s linear infinite;
        animation: ball-clip-rotate 0.75s linear infinite;
      }
      &.la-ball-clip-rotate.la-sm {
        width: 16px;
        height: 16px;
      }
      &.la-ball-clip-rotate.la-sm > div {
        width: 16px;
        height: 16px;
        border-width: 1px;
      }
      &.la-ball-clip-rotate.la-3x {
        width: 65px;
        height: 65px;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%);
      }
      &.la-ball-clip-rotate.la-3x > div {
        width: 65px;
        height: 65px;
        border-width: 6px;
      }
      /*
 * Animation
 */
      @-webkit-keyframes ball-clip-rotate {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        50% {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @-moz-keyframes ball-clip-rotate {
        0% {
          -moz-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        50% {
          -moz-transform: rotate(180deg);
          transform: rotate(180deg);
        }
        100% {
          -moz-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @-o-keyframes ball-clip-rotate {
        0% {
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        50% {
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
        100% {
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes ball-clip-rotate {
        0% {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        50% {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }
  }
}
