<div class="item-wrapping">
  <div class="wrapping-img">
    <img src="https://bigboom.exdomain.net/image/cache/catalog/san-pham/sid62893-400x300.jpg" alt="">
    <div class="sub-cart">
      <span data-toggle="tooltip" data-placement="top" title="Thêm vào giỏ hàng" class="cart"><i
          class="fa fa-cart-plus" aria-hidden="true"></i></span>
      <span data-toggle="tooltip" data-placement="top" title="Xem chi tiết" class="eye"><i class="fa fa-eye"
          aria-hidden="true"></i></span>
    </div>
  </div>
  <div class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate alias
    reiciendis,
    dolore illo similique nulla repellendus autem consequuntur enim nobis!
  </div>
  <div class="price">350,000d</div>
</div>
