:host {
  display: flex;
  
  .wrapping {
    display: flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    .content-dash{
      height: 90vh;
      .out-let {
        overflow: hidden;
        height: 100%;
      }
    }
  }
}
