:host {
  display: block;
  box-shadow: 2px 0 3px rgba(0,0,0,.5);
  position: relative;
  .headerbar {
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    height: 100%;
    position: absolute;
    .headerbar-left {
      background: rgba(0,0,0,.5);
      float: left;
      text-align: center;
      height: 100%;
      position: relative;
      width: 15%;
      z-index: 1;

      .logo {

        color: #e3ebf3 !important;
        font-size: 20px;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 48px;

        img {
          width: 60px;
        }

        span {
          color: #fff;
        }
      }
    }

    .navbar-custom {
      background-color: rgba(0,0,0,.5);
      border-radius: 0;
      margin-bottom: 0;
      padding: 0 10px;
      margin-left: 15%;
      min-height: 50px;
      height: 100%;
      .nav-link {
        padding: 0 8px;
        line-height: 50px;
        color: #e9f2ff;
        font-size: 20px;

        &.dropdown-toggle {
          &:after {
            content: initial;
          }

          .notif-bullet {
            height: 12px;
            width: 12px;
            background-color: #f95200;
            display: inline-block;
            position: absolute;
            top: 13px;
            right: 8px;
            border-radius: 50%;
            border: 2px solid #e2e2e2;
          }

          .avatar-rounded {
            cursor: pointer;
            border-radius: 50%;
            width: 40px;
            height: 40px;
          }
        }
      }

      .profile-dropdown {
        width: 170px;

        .notify-item {
          padding: 10px 20px;

          i {
            font-size: 17px;
            vertical-align: middle;
            margin-right: 5px;
          }

          span {
            vertical-align: middle;
            padding-left: 5px;
          }
        }
      }

      .menu-left {
        overflow: hidden;
        position: relative;
        height: 100%;

        li {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);

          button {
            border: none;
          }
        }
      }
    }
  }
}
